body {
  background-image: url(back-lines-dark.png);
  background-size: cover;
  color: white;
  overflow-x: hidden;
}

button {
  display: inline-flex;
  padding: 15px 60px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 25px;
  gap: 10px;
  border: 0;
  background-color: #5ab2ff;
  color: white;
}
h1 {
  font-size: 4.5rem;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
span {
  color: #5ab2ff;
}
p {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
}
ul {
  list-style-type: none;
  display: inline-flex;
  padding-left: 0 !important;
}
ul li a {
  text-decoration: none;
  padding: 0px 15px;
  color: #101010;
}
.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}
#demo {
  font-size: 30px;
}
.logo-text {
    width: 450px;
    height: 120px;
}
.mobile-mock-up {
    display: none;
}

@media only screen and (max-width: 600px) {
  body {
      background-image: url(back-lines-dark-mobile.png);
  }
  .mobile-mock-up {
    display: block;
}
.desktop-mock-up {
    display: none;
}
  h1{
    font-size: 3rem;
  }
  .logo-text {
    width: 350px;
    height: 100px;
}
}

@media only screen and (max-width: 600px) {
      h1{
    font-size: 2rem;
  }
  .logo-text {
    width: 250px;
    height: 70px;
}
}